<div class="notification-banner notification-banner--hiviz js-feedback-banner">
  <p class="notification-banner--inner" style="padding:16px;margin:0 auto; max-width:960px;">
    This is a prototype design, used to try out new ideas.
  </p>
</div>

<header role="banner">
  <div class="global-header">
    <div class="global-header__inner">
      <a href="/" class="global-header__link">
        <img src="/images/logotype-nhs-mono.png" alt="NHS">
      </a>
    </div>
  </div>
</header>
