<div class="gp-response">
  <div class="gp-response__item">
    <div class="gp-response__details">
      <h4 class="gp-response--heading">Surgery Response</h4>
      <p class="gp-response--paragraph">{{{gpResponse}}}</p>
    </div>
  </div>
</div>
