<div class="grid-row">
    <div class="results {{#if review.gpResponse}}gp-response--remove-border{{/if}} ">
      <h3 class="results__title">{{title}}</h3>
      <div class="results__date">{{screenName}}, {{MonthOfVisit}}</div>
      <div class="results__item results__item--nearby">
        <p class="results__details">
          {{{userReview}}}
        </p>
      </div>
    </div>
</div>
