<h3>Tell health inspectors about your complaint</h3>

<p>You can also let the Care Quality Commission (CQC) now that you have made a complaint.</p>

<p>Even though CQC doesn’t handle complaints, it does check the quality of GP services. It will refer to your complaint when it next inspects your GP surgery.</p>

<p><a href="#">Let CQC know you’ve made a complaint</a></p>
