<!-- Start of radio buttons -->
<form method="get" class="form" action="">
  <fieldset>
    <legend>
      <h2 class="">Have you received a response to your complaint? </h2>
    </legend>

    <details class="" role="group">
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
        <span class="details__summary">Why are we asking this question?</span>
      </summary>
      <div id="details-content-0" aria-hidden="true">
        <p>You need to wait for a response to your complaint before contacting another organisation about it.</p>
      </div>
    </details>

    <div class="multiple-choice__container">
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="yes">
        Yes
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="no">
        No
      </label>

    </div>

  </fieldset>
  <input type=submit class="button" value=Next>
</form>
<!-- End of radio buttons -->
