<h3>{{number}} Leave feedback with CQC</h3>

<p>CQC checks the quality of services that GP surgeries provide. </p>

<p>Its inspectors will use your feedback to work out what your surgery does well and what it needs to improve. </p>

<p><a href="http://www.cqc.org.uk/share-your-experience-finder">Leave feedback with CQC</a></p>
