<h3>{{number}} Leave a review on NHS Choices</h3>

<p>You can review your GP surgery on NHS Choices. Other people will be able to see what you write. But your surgery doesn’t have to look at it or respond.</p>

<p><a href="#">Find your surgery on NHS Choices</a> to leave a review.</p>
