<h2>We’re sorry, we can’t help you yet</h2>

<p>If you’ve already made a complaint, you must wait for a response before going to the next step of the complaints process. </p>

<p>You can contact the organisation you complained to again and ask them when you will get a response. </p>

<p>If you’ve been waiting 6 months or more for a reply, you can contact the Parliamentary and Health Services Ombudsman (PHSO). They can contact the organisation for you to find out why you haven’t received a comp</p>

{{> components/back_to_start }}
