<h2>Who do you think is a danger to patients? </h2>

{{> components/radio_button_3
  radio-1="A GP"
  radio-1-value="gp"
  radio-2="A nurse"
  radio-2-value="nurse"
  radio-3="A midwife"
  radio-3-value="midwife"}}

{{> components/back_to_start }}
