<h2>Reviews for your GP surgery</h2>

<div class="grid-row">
  {{#each reviews as |review|}}
    {{> components/user_review
      title=review.title
      screenName=review.displayname
      MonthOfVisit=review.monthOfVisit
      userReview=review.body
    }}
    {{#if review.response}}
      {{> components/gp-response
        gpResponse=review.response
      }}
    {{/if}}
  {{/each}}
</div>
