<h2>You can report your concerns to the General Medical Council</h2>

<h3>Why this is right for you</h3>

<p>The General Medical Council (GMC) can investigate GPs who might harm patients.</p>

<p>If it finds that a GP is a risk, it can stop them working as a doctor.</p>

<h2>What to expect</h2>

<p>GMC doesn’t handle general complaints. It only handles cases where there is a risk that a GP might cause harm.</p>

<p>GMC will respond to your complaint and let you know if it can investigate.</p>

<a href="https://www.gmc-uk.org/concerns/making_a_complaint/30432.asp"><button class="button">Next</button></a>

{{> components/back_to_start }}
