<h2>You can report your concerns to the Nursing and Midwifery Council </h2>

<h3>Why this is right for you</h3>

<p>The Nursing and Midwifery Council (NMC) can investigate midwives who might harm patients. </p>

<p>If it finds that someone is a risk, it can stop them working as a midwife.</p>

<h3>What to expect</h3>

<p>NMC doesn’t handle general complaints. It only handles cases where there is a risk that a GP might cause harm.</p>

<p>NMC will respond to your complaint and let you know if it can investigate. </p>

<a href="https://www.nmc.org.uk/concerns-nurses-midwives/concerns-complaints-and-referrals/make-a-referral/"><button class="button">Next</button></a>

{{> components/back_to_start }}
