<h3>Would you feel comfortable speaking to your surgery about your complaint? </h3>

{{> components/radio_button_2
  radio-1="Yes"
  radio-1-value="yes"
  radio-2="No"
  radio-2-value="no"}}

{{> components/back_to_start }}
