<h2>Try speaking to your GP surgery about the problem</h2>

<h3>What to do</h3>

<p>You can solve most problems informally and quickly by speaking to someone at your surgery. </p>

<p>Tell the person you speak to if you want your conversation to be treated as a formal complaint. Or you can submit a formal complaint in writing or by email.</p>

<p>You usually have to make a complaint within 12 months of something happening or coming to your attention.</p>

<a href="#">Find your GP surgery’s contact details</a>

<h3>Why this is right for you </h3>

<p>You are likely to get a quicker response if you contact your surgery directly. </p>

<h3>What to expect</h3>

<p>If you make a formal complaint verbally, your surgery should write to confirm the complaint within 24 hours. </p>

<p>If you write or email, your surgery must follow the surgery’s complaints procedure. Ask a receptionist for a copy of the procedure, which should tell you how long you’ll have to wait for a response.</p>

<p>You must get a final response within 6 months.</p>

<a href="https://www.nhs.uk/nhsengland/complaints-and-feedback/pages/nhs-complaints.aspx">Read more about the NHS complaints procedure</a>

{{> components/back_to_start }}
