<h2>You can complain to NHS England</h2>

<h3>What to do</h3>

<p><b>Telephone:</b> 0300 311 22 33<br />
<b>Email:</b> <a href="england.contactus@nhs.net">england.contactus@nhs.net</a><br />
<b>Write:</b> NHS England, PO Box 16738, Redditch, B97 9PT</p>

<p>If you send an email, please mark your email: For the complaints team.</p>

<p>You usually have to make a complaint within 12 months of something happening or coming to your attention.</p>

<h3>Why this is right for you</h3>

<p>You can usually get a quick response by speaking with staff at your surgery. But if you don’t want to do that, NHS England will accept your complaint.</p>

<h3>What to expect</h3>

<p>NHS England will confirm that it has received your complaint within 3 working days after receiving it.</p>

<p>They will contact your surgery and handle your complaint for you.</p>

<p><a href="https://www.england.nhs.uk/contact-us/complaint/complaining-to-nhse/">Read more about how NHS England handles complaints</a></p>

{{> components/back_to_start }}
