<h2>How would you like to leave your review?</h2>

{{> components/radio_button_3
  radio-1="Write a review"
  radio-1-value="write-a-review"
  radio-2="Rate the surgery"
  radio-2-value="rate-the-surgery"
  radio-3="Both"
  radio-3-value="both"
}}
