<h2>Find where to give feedback or complain about a GP surgery</h2>
<p>Use this service to find the right place to:</p>
<ul>
  <li>comment on what your doctor’s surgery does well - or what it needs to improve</li>
  <li>make a formal complaint</li>
</ul>

<p>Staff at GP surgeries are usually happy to handle feedback, positive or negative. You’re also likely to get a quicker response. So it’s often a good idea to speak to a receptionist or practice manager as a starting point.</p>

<p>But if you’re worried about speaking to your surgery directly, or are unhappy with their response, we can put you in touch with somebody else who can help.</p>

<div class="button__spacing">
  <a href="/2_feedback_or_complaint"><button class="button">Start</button></a>
</div>

<div class="callout callout--warning">
  <h2>Need urgent help?</h2>
  <p>You won’t get an immediate response through this service. Call 999 if you need urgent medical help or are at risk of harming yourself or somebody else. </p>
</div>
