<h2>Review your GP surgery on NHS Choices</h2>
<section class="section">
  <h3>Why this is right for you</h3>
  <p>NHS Choices lets you tell other visitors to the site about your experience of care in the past 2 years. You can include positive and negative comments in your review.</p>

  <h3>What to expect</h3>
  <p>You’ll get advice on what you can and can’t say in a review. NHS Choices will publish your review as long as it is relevant, respectful, informative and not abusive.</p>
  <p>Anybody who visits NHS Choices can read your review. But staff at your surgery don’t have to read it. So this isn’t the best option for you if you definitely want a response.</p>
  <p>You can’t leave a formal complaint on NHS Choices.</p>


  <p><a href="https://gp-finder-pr-249.dev.beta.nhschoices.net/leave-a-review/"><button class="button">Start</button></a></p>
  <!--<p class="p--small" style="font-size:14px; margin-top:8px;">on NHS Choices service</p>-->
  {{> components/back_to_start }}
</section>
