<h2>Review a GP surgery</h2>
<section class="section">
  <p>Use this service to tell other members of the public what a doctor’s surgery does well or what it needs to improve. </p>

<p>Your review can be about something that happened to you, a friend or a family member. It must be about a visit to the surgery in the last 2 years.</p>

<p>You don’t have to include your name. But if you do, GP staff must not treat you negatively for leaving a review. </p>

<p>You will have to give us a valid email address. We check every review, and we’ll email you if there are any problems with what you’ve written.</p>

<p>If you’re under 16, ask a parent or guardian for permission to leave a review.</p>

  <div class="callout callout--info">
    <h3>Don’t use this service if you:</h3>
    <ul>
      <li>need help urgently - call 999 if you think you are in danger of hurting yourself or another person  </li>
      <li>want to <a href="https://www.nhs.uk/nhsengland/complaints-and-feedback/pages/nhs-complaints.aspx">make a formal complaint about your GP surgery</a> </li>
      <li>definitely want a response from your surgery - staff don’t have to look at reviews on this site</li>
      <li>work at the surgery being reviewed</li>
    </ul>
  </div>

<form action="1_start" method="POST">
  <div class="section">
    <div class="button__spacing">
      <input type="submit" class="button" value="Start">
    </div>
  </div>
</form>

  {{> components/back_to_start }}
</section>
