<h2>Review your GP surgery</h2>
<section class="section">
  <p>Use this service to tell other members of the public what your doctor’s surgery does well and what it needs to improve. </p>

  <p>Your review must be:</p>
  <ul>
    <li>about a visit to your surgery in the last 2 years</li>
    <li>honest and respectful</li>
    <li>useful to other patients or staff at your surgery</li>
  </ul>

  <p>We check every review. You’ll need to give us an email address so we can tell you if your comments have been published. </p>

  <p>Leaving a review should never have a bad effect on your care or treatment. But if you prefer to remain anonymous, you don’t have to put your name on your review. </p>

  <p>If you’re under 16, you must ask a parent or guardian for permission to leave a review.</p>

  <div class="callout callout--info">
    <h3>Don’t use this service:</h3>
    <ul>
      <li>if you need help urgently - call 999 if you think you are in danger of hurting yourself or another person </li>
      <li>to <a href="https://www.nhs.uk/nhsengland/complaints-and-feedback/pages/nhs-complaints.aspx">make a formal complaint about your GP surgery</a> </li>
      <li>if you want a response from staff at your surgery - they don’t have to read and respond to reviews on this site</li>
    </ul>
  </div>



<form action="1_start" method="POST">
  <div class="section">
    <div class="button__spacing">
      <input type="submit" class="button" value="Next">
    </div>
  </div>
</form>

  {{> components/back_to_start }}
</section>
