{{> components/back_link
  label="Back to write your review"
  link="/2_write_your_review_v1"
}}

<h2>How to write a good review</h2>
<!--<p class="heading__meta">This step is optional</p>-->
<hr />

<div class="panel">
  <div class="panel__content panel__content--half">
    <h3>Do</h3>
    <ul class="list--check">
      <li>focus on what happened to make you write a review</li>
      <li>include information that will be useful to other patients</li>
      <li>leave positive feedback if you’re happy with something</li>
      <li>be respectful, even if you’re angry</li>
      <li>explain how you think things could be improved, if necessary</li>
      <li>stay relevant - only talk about your GP surgery</li>
      <li>back up your opinion with facts</li>
    </ul>
  </div>
  <div class="panel__content panel__content--half">
    <h3>Don’t</h3>
    <ul class="list--cross">
      <li>try too hard to influence people - for example by telling them not to use the surgery</li>
      <li>write about something that happened over 2 years ago</li>
      <li>leave more than 1 review per incident</li>
      <li>include people’s names </li>
      <li>include information that could identify you or someone else </li>
      <li>be abusive, swear or threaten people</li>
      <li>be sexual or obscene</li>
      <li>be racist</li>
      <li>encourage stereotypes or hatred of specific groups</li>
      <li>include anything that could break the law</li>
      <li>WRITE IN CAPITALS LIKE THIS</li>
      <li>mention business names or advertise products</li>
      <li>choose a screen name that is rude, offensive or pretending to be someone else</li>
      <li>give medical or health advice</li>
      <li>allow staff at your surgery ask you to leave comments on their behalf</li>
      <li>accept money to leave a review for someone else</li>
      <li>copy information from another source</li>
      <li>include personal contact information (eg telephone number or Twitter handle)</li>
    </ul>
  </div>
</div>

{{> components/back_link
  label="Back to write your review"
  link="/2_write_your_review_v1"
}}
