<h2>Reviews for your GP surgery</h2>

{{> components/back_link
  label="Back to write your review"
  link="/2_write_your_review_v1"
}}

<div class="grid-row">
  {{#each reviews as |review|}}
    {{> components/user_review
      title=review.title
      screenName=review.displayname
      MonthOfVisit=review.monthOfVisit
      userReview=review.body
    }}
  {{/each}}
</div>

{{> components/back_link
  label="Back to write your review"
  link="/2_write_your_review_v1"
}}
