<h2>Reviews other patients reviews</h2>

{{> components/back_link
  label="Back to write your review"
  link="/2_write_your_review_v1"
}}

{{> components/user_review
  title="test"
  screenName="test"
  MonthOfVisit="test"
  userReview="test"
}}

{{> components/user_review
  title="test"
  screenName="test"
  MonthOfVisit="test"
  userReview="test"
}}

{{> components/user_review
  title="test"
  screenName="test"
  MonthOfVisit="test"
  userReview="test"
}}


{{> components/user_review
  title="test"
  screenName="test"
  MonthOfVisit="test"
  userReview="test"
}}


{{> components/user_review
  title="test"
  screenName="test"
  MonthOfVisit="test"
  userReview="test"
}}


{{> components/back_link
  label="Back to write your review"
  link="/2_write_your_review_v1"
}}
