<h2>Reviews other patients reviews*</h2>

{{> components/back_link
  label="Back to write your review"
  link="/2_write_your_review_v1"
}}

{{> components/user_review
  title="Outstanding service from reception through to pharmacy"
  screenName="Anonymous"
  MonthOfVisit="October 2017"
  userReview="Having had to use your services twice in one week your staff have been nothing but outstanding. The reception team were very reassuring, kind, helpful and considerate while your clinicians were equally also. Seen within hours of requesting a (non urgent) appointment. Can’t promote your service enough. Very grateful. Thank you."
}}


{{> components/back_link
  label="Back to write your review"
  link="/2_write_your_review_v1"
}}
