{{> components/back_link
  label="Back to write your review"
  link="/2_write_your_review_v1"
}}

<h2>Rules on writing reviews </h2>
<!--<p class="heading__meta">This step is optional</p>-->
<hr />

<h3>Contents</h3>

<div class="anchor-links">
  <p><a href="#general-guidance">General guidance</a></p>
  <p><a href="#commenting-on-gp-services">Commenting on GP services</a></p>
  <p><a href="#complaining-about-another-persons-comment">Complaining about another person’s comment</a></p>
  <p><a href="#keeping-reviews-relevant-polite-and-decent">Keeping reviews relevant, polite and decent</a></p>
  <p><a href="#privacy-and-confidentiality">Privacy and confidentiality</a></p>
  <p><a href="#screen-names-nicknames-and-impersonations">Screen names, nicknames and impersonations</a></p>
  <p><a href="#health-advice-medical-products-and-commercial-activity">Health advice, medical products and commercial activity</a></p>
  <p><a href="#legal-issues-criminal-activity-or-negligence">Legal issues, criminal activity or negligence</a></p>
  <p><a href="#copyright">Copyright</a></p>
  <p><a href="#privacy">Privacy</a></p>
  <p><a href="#action-we-might-take">Action we might take</a></p>
  <p><a href="#contact-us">Contact us</a></p>
</div>

<h3 id="general-guidance">General guidance</h3>

<p>You can write a review about something that happened to you, a family member or a friend. You don’t have to be a patient at the surgery you’re reviewing.</p>

<p>Your comments should be constructive, relevant and polite.</p>

<p>We’ll check your review to make sure it’s suitable for NHS.UK. We’ll reject it if it breaks the rules below.</p>

<h3 id="commenting-on-gp-services">Commenting on GP services</h3>

<p>NHS staff should never treat you negatively because you have reviewed their organisation on NHS.UK.</p>

<p>You don’t have to put your name on your review, if you don’t want to. But you should never include the names of other patients or NHS staff in your comments.</p>

<p>You can’t use this service to make a formal complaint. If you want to complain, you should follow the <a href="https://www.nhs.uk/nhsengland/complaints-and-feedback/pages/nhs-complaints.aspx">formal NHS complaints procedure</a>.</p>

<p>NHS staff don’t have to read reviews on this site, but many of them do. So if you definitely want a reply to your feedback, you should contact your GP surgery directly. Or you can
  <link>contact NHS England
  <link ends>.</p>

<p>You can comment on your experience even if you’re paying for your care privately, as long as the GP surgery provides care on the NHS.</p>

<p>You don’t have to register with NHS.UK to leave a review, but you need to provide a valid email address so that we can contact you if there are any problems.</p>

<p>You shouldn’t use this service to make political points about the NHS.</p>

<p>You shouldn’t use this service if you work at the surgery being reviewed.</p>

<p>Surgery staff should never write a review for patients, their friends or family members.</p>

<p>Reviews must be about something that has happened in the past 2 years. We remove reviews when they are 2 years old.</p>

<p>If you’re under 16, you should ask a parent or guardian for permission to use this service.</p>

<h3 id="complaining-about-another-persons-comment">Complaining about another person’s comment</h3>

<p>If you think someone else’s review breaks our rules, you can let us know by clicking on ‘Report as unsuitable’ beneath the comment. We will temporarily remove the review and look at it as soon as possible. We will then decide whether to remove it or keep
  it.</p>

<h3 id="keeping-reviews-relevant-polite-and-decent">Keeping reviews relevant, polite and decent</h3>

<p>Your review must be relevant to the page it’s going to appear on.</p>

<p>Your review must be respectful of other people. We won’t publish reviews that are unlawful, harassing, abusive, threatening, obscene, sexually suggestive, racist, homophobic or sexist. We won’t publish reviews that encourage hatred of an individual or
  group of people.</p>

<p>Don’t write in capital letters.</p>

<p>Include enough information to describe your experience and to help someone make a decision about the service. We may not publish your review if we think it doesn’t contain information that will be useful to other people.</p>

<p>We won’t publish your review if you swear.</p>

<p>We only publish reviews that are written in English.</p>

<p>We won’t publish your review if you stereotype groups of people.</p>

<p>Don’t write more than 1 review about an incident.</p>

<p>We won’t publish reviews that include the names of businesses or commercial services.</p>

<h3 id="privacy-and-confidentiality">Privacy and confidentiality</h3>

<p>Never include the name of someone you’re writing about in your review. If you’re writing the review for someone else, it’s better to say ‘my husband’ or ‘my uncle’, for example.</p>

<p>We won’t publish your review if you include your contact details or use the review to arrange meetings with other people. Don’t include your name, phone number, email address, twitter handle or address.</p>

<h3 id="screen-names-nicknames-and-impersonations">Screen names, nicknames and impersonisation</h3>

<p>We check screen names to make sure that are not rude, offensive or pretending to be another person.</p>

<h3 id="health-advice-medical-products-and-commercial-activity">Health advice, medical products and commercial activity</h3>

<p>We won’t publish your review if you:</p>

<ul>
  <li>glamorise smoking, drug use or drinking</li>
  <li>promote a poor moral example</li>
  <li>ask for or give health advice</li>
</ul>

<p>We might remove references to specific medical products or medicines if the context isn’t appropriate.</p>

<p>We won’t publish your review if we suspect someone has paid you to write it or given you another incentive to write it.</p>

<h3 id="legal-issues-criminal-activity-or-negligence">Legal issues, criminal activity or negligence</h3>

<p>You can’t make comments that could affect the outcome of a court case or General Medical Council hearing.</p>

<p>We’ll remove your review if it subsequently becomes the subject of a court case or hearing. We’ll also remove it if it risks being in contempt of court.</p>

<p>We’ll remove reviews that break a court injunction.</p>

<p>Don’t use this service to make accusations of clinical negligence. You should use the <a href="https://www.nhs.uk/nhsengland/complaints-and-feedback/pages/nhs-complaints.aspx">NHS complaints procedure</a>.</p>

<p>Don’t make accusations of criminal activity in your review. Contact the police if you think somebody has broken the law.</p>

<p>Defamation can occur when someone makes a comment that can harm someone else’s reputation. The law allows you to leave a review that contains your honestly held opinion, as long as you explain the facts that have informed that opinion. Leaving a dishonest
  review is against the law if it can cause serious harm to a person’s reputation. We won’t publish reviews that we think are defamatory.</p>

Disclaimer: the definition above is not to be regarded as a statement of the law nor should it be relied upon to make any judgement as to whether content is potentially defamatory. It is up to you to decide whether to take specific legal advice.

<p>We won’t publish reviews that contain threats of public fear, terrorism or threats towards any individual.</p>

<h3 id="copyright">Copyright</h3>

<p>You must own the copyright to any material you include in your review - especially if you’ve copied it from another source. We won’t publish your review if we think you don’t own any part of the content.</p>

<p>Your review will be published to the general public. In submitting your comments you assign all rights to NHS.UK for use and publication of your contribution. You can find more information in our <a href="https://www.nhs.uk/aboutnhschoices/aboutnhschoices/termsandconditions/pages/termsandconditions.aspx">terms and conditions</a>.</p>

<p>You shouldn’t leave a review if you’re not happy to give NHS.UK copyright.</p>

<h3 id="privacy">Privacy</h3>

<p>We will ask you to either create an account or leave a valid email address. We’ll only use your details to contact you about your review. We won’t pass your details to any other party unless permitted or required to by the 1998 Data Protection Act, or
  required to by order of a court.</p>

<h3 id="action-we-might-take">Action we might take</h3>

<p>We can reject your review if you break our rules. Repeated or serious breaches of our rules may lead to blocking contributions from your email address or suspending your account, if you have one.</p>

<p>We reserve the right to delete any content at any time for any reason.</p>

<p>We are not under any obligation to publish any contribution.</p>

<p>We reserve the right to alter or update our rules or terms and conditions at any time.</p>

<h3 id="contact-us">Contact us</h3>

<p>If you have questions about these rules, please get in touch with our Service Desk team:</p>

<ul>
  <li>email <a href="mailto:nshchoicesservicedesk@nhs.net">nshchoicesservicedesk@nhs.net</a></li>
  <li><a href="https://www.nhs.uk/aboutNHSChoices/Pages/ContactUs.aspx">use our feedback form</a></li>
</ul>

{{> components/back_link
  label="Back to write your review"
  link="/2_write_your_review_v1"
}}
