<h2>Which do you want to do?</h2>

{{> components/radio_button_2
  radio-1="Give feedback - positive or negative"
  radio-1-value="feedback"
  radio-2="Make a formal complaint"
  radio-2-value="complaint"
}}

{{> components/back_to_start }}
