<h2>Which do you want to do?</h2>

<!-- Start of radio buttons -->
<form method="get" class="form" action="">
  <fieldset>
    <div class="multiple-choice__container">
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="positive">
        Give positive feedback
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="negative">
        Give negative feedback
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="complaint">
        Make a formal complaint
      </label>
    </div>
  </fieldset>

  <input type=submit class="button" value=Next>
</form>
<!-- End of radio buttons -->

{{> components/back_to_start }}
