<h2>Your review</h2>
<!--<p class="heading__meta">This step is optional</p>-->
<hr />

<form action="2_leave_a_written_review" method="POST">
  <div class="section">
    <div class="form-line">
      <label for="title" class="form-label"><h3>The title of your review</h3></label>
      <input type="text" placeholder="" name="title" id="title" class="form-textbox" aria-describedby="hintId">
    </div>
  </div>

  <div class="section">
    <div class="form-line">
      <label for="input-with-support" class="form-label"><h3>The main text of your review</h3></label>
      <textarea rows="17" class="form-textbox" name="review" placeholder=" "></textarea>
    </div>
  </div>

  <div class="button__spacing">
    <input type="submit" class="button" value="Next">
  </div>
</form>
