<h2>Write your review</h2>
<!--<p class="heading__meta">This step is optional</p>-->
<hr />

<p>Your review must be honest, respectful and useful to other patients. Try to give as much detail as possible about what has happened to make you want to leave a review. </p>

<div class="callout callout--info">
  <h3>We’ll reject your review if you:</h3>
  <ul>
    <li>don’t include enough facts to help other patients make a decision</li>
    <li>try too hard to influence people - for example by telling them not to use the surgery</li>
    <li>write about something that happened over 2 years ago</li>
    <li>have already left a review about this incident</li>
    <li>include information that could identify someone (for example their name, gender or contact details)</li>
    <li>swear, abuse or threaten people</li>
    <li>are obscene, racist, sexist or homophobic</li>
    <li>include anything that could break the law or affect legal proceedings</li>
    <li>WRITE IN CAPITALS LIKE THIS</li>
  </ul>

  <p><a href="/2_3_rules_on_writing_reviews">Read full list of rules for writing reviews</a></p>
</div>

<form action="2_write_your_review_v1" method="POST">
  <div class="section">
    <div class="form-line">
      <label for="body" class="form-label"><h3>Your review</h3></label>
      <span class="form-label__hint" id="hintId">3,000 characters maximum</span>
      <textarea rows="17" class="form-textbox" name="body" placeholder=" ">{{body}}</textarea>
    </div>
  </div>

  <div class="button__spacing">
    <input type="submit" class="button" value="Next">
  </div>
</form>

{{> components/back_link
  label="Back"
}}

<!-- <form action="2_write_your_review_v1" method="POST">
  <div class="section">
    <div class="form-line">
      <label for="title" class="form-label"><h3>Form label</h3></label>
      <input type="text" placeholder="" name="title" id="title" class="form-textbox" aria-describedby="hintId" value="{{title}}">
    </div>
  </div> -->
