<h2>Write your review</h2>
<!--<p class="heading__meta">This step is optional</p>-->
<hr />

<p>You should write your review in English. To keep the review useful: </p>

<ul>
  <li>explain what happened to make you leave the review</li>
  <li>if you’re expressing an opinion, back it up with facts</li>
  <li>only include comments about the surgery you’re reviewing</li>
  <li>if you’re writing about a problem, say how your surgery could improve things</li>
</ul>

<p>We’ll check your review</p>

<p>We won’t publish your review if you:</p>

<ul>
  <li>include people’s names or something that could easily identify them</li>
  <li>abuse,</li>
</ul>

<form action="2_write_your_review" method="POST">
  <div class="section">
    <div class="form-line">
      <label for="title" class="form-label"><h3>The title of your review</h3></label>
      <input type="text" placeholder="" name="title" id="title" class="form-textbox" aria-describedby="hintId">
    </div>
  </div>

  <div class="section">
    <div class="form-line">
      <label for="input-with-support" class="form-label"><h3>The main text of your review</h3></label>
      <textarea rows="17" class="form-textbox" name="review" placeholder=" "></textarea>
    </div>
  </div>

  <div class="button__spacing">
    <input type="submit" class="button" value="Next">
  </div>
</form>
