<h2>Write your review</h2>
<!--<p class="heading__meta">This step is optional</p>-->
<hr />

<p>We’ll check that your review is suitable for NHS.UK. We do not publish reviews that we think are unsuitable. </p>

<p><a href="/2_1_how_to_write_a_good_review">Read guidance on how to write a good review</a> to improve the chances of getting your review published. </p>

<p>You can also <a href="2_2_read_other_reviews">see what other reviews have been published for this surgery.</a> </p>

<form action="2_write_your_review_v1" method="POST">
  <div class="section">
    <div class="form-line">
      <label for="title" class="form-label"><h3>Form label</h3></label>
      <input type="text" placeholder="" name="title" id="title" class="form-textbox" aria-describedby="hintId" value="{{title}}">
    </div>
  </div>

  <div class="section">
    <div class="form-line">
      <label for="body" class="form-label"><h3>Form label</h3></label>
      <textarea rows="17" class="form-textbox" name="body" placeholder=" ">{{body}}</textarea>
    </div>
  </div>

  <div class="button__spacing">
    <input type="submit" class="button" value="Next">
  </div>
</form>
