<h2>Write your review</h2>
<!--<p class="heading__meta">This step is optional</p>-->
<hr />

<p>Your review must be honest, respectful and useful to other patients. We won’t publish your review if it breaks any of the rules in our guidance on writing reviews. </p>

<p><a href="2_1_how_to_write_a_good_review">Read guidance on writing reviews</a></p>

<p style="margin-top:4px;"><a href="/2_2_read_other_reviews">Read reviews by other patients</a></p>


<form action="2_write_your_review_v3" method="POST">
  <div class="section">
    <div class="form-line">
      <label for="body" class="form-label"><h3>Your review</h3></label>
      <span class="form-label__hint" id="hintId">3,000 characters maximum</span>
      <textarea rows="17" class="form-textbox" name="body" placeholder=" ">{{body}}</textarea>
    </div>
  </div>

  <div class="button__spacing">
    <input type="submit" class="button" value="Next">
  </div>
</form>

{{> components/back_link
  label="Back"
}}

<!-- <form action="2_write_your_review_v1" method="POST">
  <div class="section">
    <div class="form-line">
      <label for="title" class="form-label"><h3>Form label</h3></label>
      <input type="text" placeholder="" name="title" id="title" class="form-textbox" aria-describedby="hintId" value="{{title}}">
    </div>
  </div> -->
