<h2>Who would you most like to see your feedback? </h2>

<!-- Start of radio buttons -->
<form method="get" class="form" action="">
  <fieldset>
    <div class="multiple-choice__container">
      <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input" type="radio" name="action" value="staff">
          Staff at my GP surgery, so they can send me a response
        </label>
      <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input" type="radio" name="action" value="public">
          Members of the public, to influence their decisions when choosing a GP
        </label>
      <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input" type="radio" name="action" value="investigator">
          An independent inspector, to have my
        </label>
    </div>

  </fieldset>
  <input type=submit class="button" value=Next>
</form>
<!-- End of radio buttons -->
