<h2>Who do you most want to see your feedback? </h2>

<!-- Start of radio buttons -->
<form method="get" class="form" action="">
  <fieldset>
    <div class="multiple-choice__container">
      <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input" type="radio" name="action" value="staff">
          Staff at my GP surgery
        </label>
      <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input" type="radio" name="action" value="public">
          Other members of the public
        </label>
      <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input" type="radio" name="action" value="investigator">
          Someone independent who checks the quality of care at my surgery
        </label>
    </div>

  </fieldset>
  <input type=submit class="button" value=Next>
</form>
<!-- End of radio buttons -->

{{> components/back_to_start }}
