<h2>A little more information</h2>
<!--<p class="heading__meta">This step is required</p>-->
<hr />

<form action="3_when_did_this_happen" method="POST">
  <div class="form-group">
    <fieldset>
      <label for="input-with-support monthOfVisit" class="form-label">
        When did you visit your GP surgery?
        <span class="form-label__hint" id="hintId">For example, 10 2017</span>
      </label>
      <div class="form-date">
        <div class="form-group form-group-month">
          <label class="form-label" for="visitMonth">Month</label>
          <input class="form-control" id="visitMonth" name="visitMonth" type="number" pattern="[0-9]*" min="0" max="12" value="{{visitMonth}}">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="visitYear">Year</label>
          <input class="form-control" id="visitYear" name="visitYear" type="number" pattern="[0-9]*" min="0" max="2017" value="{{visitYear}}">
        </div>
      </div>
    </fieldset>
  </div>

  <div class="button__spacing">
    <input type="submit" class="button" value="Next">
  </div>
</form>
