<h2>Would you like to rate the surgery?</h2>

<!--<details class="" role="group">
  <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
    <span class="details__summary">What does this mean?</span>
  </summary>
  <div id="details-content-0" aria-hidden="true">
    <p>This is what it means</p>
  </div>
</details> -->

{{> components/radio_button_2
  radio-1="Yes"
  radio-1-value="yes"
  radio-2="No"
  radio-2-value="no"
}}
