<h2>When did the incident in this review happen? </h2>
<hr />

<p>You can only write about something that happened in the last 2 years. </p>

<form action="4_when_did_this_happen" method="POST">
  <div class="form-group">
    <fieldset>
      <label for="input-with-support monthOfVisit" class="form-label">
        <span class="form-label__hint" id="hintId">For example, for October 2017 put: 10 2017 </span>
      </label>
      <div class="form-date" style="margin-top:8px;">
        <div class="form-group form-group-month">
          <label class="form-label" for="visitMonth">Month</label>
          <input class="form-control" id="visitMonth" name="visitMonth" type="number" pattern="[0-9]*" min="0" max="12" value="{{visitMonth}}">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="visitYear">Year</label>
          <input class="form-control" id="visitYear" name="visitYear" type="number" pattern="[0-9]*" min="0" max="2017" value="{{visitYear}}">
        </div>
      </div>
    </fieldset>
  </div>

  <div class="button__spacing">
    <input type="submit" class="button" value="Next">
  </div>
</form>

{{> components/back_link
  label="Back"
}}
