  <h2>What is your name?</h2>
  <!--<p class="heading__meta">This step is required</p>-->
  <hr />

  <form method="POST" action="4_what_is_your_name">
  <p>We only use your email address to communicate with you about your feedback. This includes telling you when it is published or has a reply.</p>
  <div class="form-line">
    <label for="input-with-support" class="form-label">
      Your email address
    </label>
    <input type="text" placeholder="e.g. you@yourdomain.com" name="input" id="input-with-support" class="form-textbox" aria-describedby="hintId">
  </div>

  <div class="form-line">
    <label for="input-with-support" class="form-label">
      Confirm your email address
    </label>
    <input type="text" placeholder="e.g. you@yourdomain.com" name="input" id="input-with-support" class="form-textbox" aria-describedby="hintId">
  </div>

  <div class="form-line">
    <label for="input-with-support" class="form-label">
      Your screen name
    </label>
    <input type="text" placeholder="e.g. John Smith" name="screenName" id="input-with-support" class="form-textbox" aria-describedby="hintId">
  </div>


  <div class="multiple-choice__container">
    <label class="multiple-choice multiple-choice multiple-choice--checkbox">
      <input class="multiple-choice__input" type="checkbox" name="checks" value="1">
      Tick to remain anonymous
    </label>
  </div>

  <div class="button__spacing">
    <p>By submitting I accept the <a href="https://www.nhs.uk/aboutnhschoices/aboutnhschoices/termsandconditions/pages/commentspolicy.aspx">moderation rules</a> and <a href="https://www.nhs.uk/aboutnhschoices/aboutnhschoices/termsandconditions/pages/termsandconditions.aspx">terms and conditions</a>.</p>
    <input type="submit" class="button" value="Submit review">
  </div>
</form>
