<h2>You can give your feedback to NHS England</h2>

<h3>What to do </h3>

<p><b>Telephone: </b> 0300 311 22 33<br />
<b>Email: </b> <a href="mailto:england.contactus@nhs.net">england.contactus@nhs.net</a><br />
<b>Write: </b> NHS England, PO Box 16738, Redditch, B97 9PT</p>

<!-- <table class="table--two-column">
  <tbody>
    <tr>
        <td>Telephone</td>
        <td>0300 311 22 33</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>england.contacus@nhs.net</td>
      </tr>
      <tr>
        <td>Write</td>
        <td>NHS England, PO Box 16738, Redditch, B97 9PT</td>
      </tr>
  </tbody>
</table> -->

<h3>Why this is right for you</h3>

<p>You can usually get a quick response by speaking with staff at your surgery. But if you don’t want to do that, NHS England will accept your feedback - positive or negative. NHS England commissions GP surgeries, and they can pass your feedback to your GP or their staff.</p>

<h3>What to expect</h3>

<p>Staff at NHS England will respond no matter how you contact them. You can also ask them for a response from staff at the surgery, if you want one.</p>

{{> components/back_to_start }}
