<h2>You can give your feedback to the Care Quality Commission</h2>

<h3>Why this is right for you</h3>

<p>The Care Quality Commission (CQC) monitors how well your GP surgery is caring for its patients.</p>

<p>It uses patient feedback to work out what is going well and what needs improvement. It welcomes all feedback - positive and negative.</p>

<p>You can tell CQC about anything you’ve experienced - not just serious issues.</p>

<h3>What to expect</h3>

<p>CQC will confirm that it’s received your feedback. It will include your comments when it inspects your GP surgery.</p>

<p>It doesn’t handle complaints on your behalf or pass your comments to your surgery. So this isn’t the best option if you want a response from your surgery.</p>

<p><a href="#"><button class="button">Next</button></a></p>

{{> components/back_to_start }}
