
<h2>Have you complained about this problem before? </h2>

<!-- Start of radio buttons -->
<form method="get" class="form" action="">
  <fieldset>
    <div class="multiple-choice__container">
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="yes">
        Yes
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="no">
        No
      </label>
    </div>

  </fieldset>
  <input type=submit class="button" value=Next>
</form>

{{> components/back_to_start }}
