<h2>Do you want to put your name on your review?</h2>

<hr />

<p>Other people sometimes find it easier to trust reviews that have names on them. It’s also easier for surgery staff to give a personal response if you put your name on your review. But you don’t have to put your name if you prefer to stay anonymous.</p>

<form method="POST" action="5_do_you_want_to_write_your_name">
  <div class="multiple-choice__container">
    <label class="multiple-choice multiple-choice--radio">
    <input class="multiple-choice__input" type="radio" name="radio" value="yes">
    Yes
    </label>
    <label class="multiple-choice multiple-choice--radio">
    <input class="multiple-choice__input" type="radio" name="radio" value="no">
    No
    </label>
  </div>
  <div class="button__spacing"><input type="submit" class="button" value="Next"></div>
</form>

{{> components/back_link
  label="Back"
}}


<!-- <form method="POST" action="5_what_is_your_name">
  <div class="form-line">
    <label for="displayname" class="form-label">
      Your name
    </label>
    <input type="text" placeholder="Joe Bloggs" name="displayname" id="displayname" class="form-textbox" aria-describedby="hintId" value="{{displayname}}">
  </div>


  <div class=" section multiple-choice__container">
    <h3>Remaining anonymous</h3>
    <p>Text goes here</p>
    <label style="width:100%;" class="multiple-choice multiple-choice multiple-choice--checkbox">
      <input class="multiple-choice__input" type="checkbox" name="anonymous" value="1">
      Tick to remain anonymous
    </label>
  </div>

  <input type="submit" class="button" value="Next">
</form> -->
