  <h2>Check your review before submitting</h2>
  <!--<p class="heading__meta">This step is required</p>-->
  <hr />

  <dl class="govuk-check-your-answers cya-questions-long">
          <div>
            <dt class="cya-question">
              Title of review
            </dt>
            <dd class="cya-answer">
              title content
            </dd>
            <dd class="cya-change">
              <a href="#">
                Change
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Body of review here
            </dt>
            <dd class="cya-answer">
              Review content
            </dd>
            <dd class="cya-change">
              <a href="#">
                Change
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              When it happened
            </dt>
            <dd class="cya-answer">
              date here
            </dd>
            <dd class="cya-change">
              <a href="#">
                Change
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Your name
            </dt>
            <dd class="cya-answer">
              name here
            </dd>
            <dd class="cya-change">
              <a href="#">
                Change
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Your email address
            </dt>
            <dd class="cya-answer">
              email address here
            </dd>
            <dd class="cya-change">
              <a href="#">
                Change
              </a>
            </dd>
          </div>
        </dl>

  <div class="button__spacing">
    <p>By submitting I accept the <a href="https://www.nhs.uk/aboutnhschoices/aboutnhschoices/termsandconditions/pages/commentspolicy.aspx">moderation rules</a> and <a href="https://www.nhs.uk/aboutnhschoices/aboutnhschoices/termsandconditions/pages/termsandconditions.aspx">terms and conditions</a>.</p>
    <a href="/7_review_submitted"><p><div class="button">Submit your review</div></p></a>
  </div>
