  <h2>What is your email address?</h2>
  <!--<p class="heading__meta">This step is required</p>-->
  <hr />

  <form method="POST" action="6_what_is_your_email_address">
  <p>We only use your email address to communicate with you about your feedback. This includes telling you when it is published or has a reply.</p>
  <div class="form-line">
    <label for="emailAddress" class="form-label">
      Your email address
    </label>
    <input type="text" placeholder="e.g. you@yourdomain.com" name="emailAddress" id="emailAddress" class="form-textbox" aria-describedby="hintId" value="{{emailAddress}}">
  </div>

  <div class="form-line">
    <label for="emailAddress2" class="form-label">
      Confirm your email address
    </label>
    <input type="text" placeholder="e.g. you@yourdomain.com" name="emailAddress2" id="emailAddress2" class="form-textbox" aria-describedby="hintId" value="{{emailAddress2}}">
  </div>

  <div class="button__spacing">
    <input type="submit" class="button" value="Next">
  </div>

</form>
