<h2>What’s your name?</h2>

<hr />

<form method="POST" action="6_what_is_your_name">
  <div class="form-line">
    <label for="displayname" class="form-label">
      Enter your name
    </label>
    <input type="text" name="displayname" id="displayname" class="form-textbox" aria-describedby="hintId" value="{{displayname}}">
  </div>

  <input type="submit" class="button" value="Next">
</form>

{{> components/back_link
  label="Back"
}}
