  <h2>What’s your email address?</h2>
  <hr />

  <p>You must give us a valid email address, even if you want your review to be anonymous. </p>

  <p>We’ll only use your email address to contact you about your review. We do not give your email address to your surgery or anybody else. </p>

  <form method="POST" action="7_what_is_your_email_address">
  <div class="form-line">
    <label for="emailAddress" class="form-label">
      Your email address
    </label>
    <input type="text" placeholder="e.g. you@yourdomain.com" name="emailAddress" id="emailAddress" class="form-textbox" aria-describedby="hintId" value="{{emailAddress}}">
  </div>

  <div class="form-line">
    <label for="emailAddress2" class="form-label">
      Confirm your email address
    </label>
    <input type="text" placeholder="e.g. you@yourdomain.com" name="emailAddress2" id="emailAddress2" class="form-textbox" aria-describedby="hintId" value="{{emailAddress2}}">
  </div>

  <div class="button__spacing">
    <input type="submit" class="button" value="Next">
  </div>

</form>
