<h2>Who did you complain to?</h2>

<!-- Start of radio buttons -->
<form method="get" class="form" action="">
  <fieldset>
    <div class="multiple-choice__container">

      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="gp">
        Your GP surgery
      </label>

      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="nhs-england">
        NHS England
      </label>

      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="phso">
        Parliamentary and Health Services Ombudsman
      </label>

      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="gmc">
        General Medical Council
      </label>

      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="nmc">
        Nursing and Midwifery Council
      </label>

      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="none">
        None of these
      </label>
    </div>

  </fieldset>
  <input type=submit class="button" value=Next>
</form>
