<div class="submission__container">
  <h2>Thanks for your feedback</h2>
  <p>Your feedback is incredibly useful to the NHS and other patients. We hope you will review other services in future.</p>
  <p><a href="/13_reviews"><button class="button">See your review</button></a></p>
</div>

<!-- <h3>What happens next</h3>
<p>This is what happens next</p> -->

<!-- <p><a href="/nhs-choices-12"><button class="button button--secondary">Exit the service</button></a></p>-->
