<h2>You can take your complaint to the health ombudsman</h2>

<h3>Why this is right for you</h3>

<p>If you’re not happy with how your GP surgery has responded to your complaint, the Parliamentary and Health Services Ombudsman (PHSO) can look at whether the response was fair.</p>

<h3>What to expect</h3>

<p>PHSO will decide whether it can investigate your complaint. If it can, it will try to investigate within 6 months. </p>

<p>If it can’t, it will tell you why and whether you have any other options.</p>

<p>PHSO can only help f you have already complained to your GP surgery or NHS England.  </p>

<p><a href="#"><button class="button">Next</button></a></p>

{{> components/back_to_start }}
