<h2>Why aren’t you happy with the ombudsman’s decision? </h2>

{{> components/radio_button_2
  radio-1="They made a mistake in their decision"
  radio-1-value="mistake"
  radio-2="They didn’t handle the complaint correctly"
  radio-2-value="dont_agree"}}

{{> components/back_to_start }}
