<div class="submission__container">
  <h2>We’ve sent you an email</h2>

  <h3>Thanks for your review</h3>

  <p>Your feedback is very useful to the NHS and other patients.</p>

  <p>We’ll need to let you know whether your review has been published or there are problems with it. So we’ve sent you an email with a link you need to click on.</p>

  <p>When you click on the link, we’ll know that we have the right email address for you. If you don’t click on it, we won’t be able to publish your review. </p>

</div>
