<div class="submission__container">

  <h2>We’ve sent you an email</h2>

  <p>We’ve received your review, but we need to check that your email address is correct. </p>

  <p>This is so we can email you to let you know if:</p>

  <ul>
    <li>your review has been published</li>
    <li>there are problems with it</li>
  </ul>

  <h3>You must click on the link in the email</h3>

  <p>When you click on the link, we’ll know that we have the right email address for you. </p>

  <p>If you don’t click on the link, we won’t be able to publish your review.</p>

</div>
