<h2>You can ask the ombudsman to review its decision </h2>

<h3>Why this is right for you</h3>

<p>The decision of the Parliamentary and Health Services Ombudsman (PHSO) is final. But they might review their decision if you can show them they got something wrong.</p>

<h3>What to expect</h3>


<p>PHSO will consider a review if you can show them:</p>

<ul>
  <li>their decision was based on wrong information</li>
  <li>you’ve got new information that might change their decision</li>
  <li>they forgot to include or misunderstood a part of your complaint</li>
</ul>

<h3>What to do</h3>

<p>Contact PHSO as soon as you can after getting their decision.</p>

<p><b>Telephone:</b> 0345 015 4033<br />
<b>Email:</b> feedbackaboutus@ombudsman.org.uk</p>

{{> components/back_to_start }}
