<h1>You can apply for a judicial review

<h2>Why this is right for you

<p>You have come to the end of the official complaints journey.</p>

<p>If you’re not happy with a response from the Parliamentary and Health Services Ombudsman, your only option is to apply for a judicial review.</p>

<p>This is a type of court case, and you’ll probably need help from a solicitor or your local <a href="https://www.citizensadvice.org.uk">Citizens Advice</a>.</p>

<h3>What to do</h3>

<p>Read about <a href="https://www.gov.uk/guidance/administrative-court-bring-a-case-to-the-court">how to apply for a judicial review</a> on GOV.UK.</p>

{{> components/back_to_start }}
