<html>
  <head>
    <title>Complaint</title>
  </head>
  <body>
    <!-- Start of radio buttons -->
    <form method="get" class="form" action="">
      <fieldset>
        <legend>
          <h2 class="">Are you complaining about a situation when a doctor or nurse posed a risk to patients?</h2>
        </legend>

        <!-- No -->
        <div class="multiple-choice">
        <label>
          <input id="radio-1" type="radio" name="action" value="no" checked>
          No
        </label>
        </div>
        <!-- -->

        <!-- Doctor -->
        <div class="multiple-choice">
        <label>
          <input id="radio-2" type="radio" name="action" value="doctor">
          Yes, Doctor
        </label>
        </div>
        <!-- -->

        <!-- Nurse -->
        <div class="multiple-choice">
        <label>
          <input id="radio-2" type="radio" name="action" value="nurse">
          Yes, Nurse
        </label>
        </div>
        <!-- -->

      </fieldset>
      <input type=submit class="button" value=Submit>
    </form>
    <!-- End of radio buttons -->
  </body>
</html>
