<html>
  <head>
    <title>Complaint</title>
  </head>
  <body>
    <!-- Start of radio buttons -->
    <form method="get" class="form" action="">
      <fieldset>
        <legend>
          <h2 class="">Who else have you already contacted about this complaint?</h2>
        </legend>

        <div class="multiple-choice__container">
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="gp">
            My GP surgery
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="nhs-england">
            NHS  England
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="phso">
            Health services ombudsman
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="gmc">
            General Medical Council
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="nmc">
            Nursing and Midwifery Council
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="no">
            Nobody - this is the first time I’ve complained about this
          </label>
        </div>

      </fieldset>
      <input type=submit class="button" value=Next>
    </form>
    <!-- End of radio buttons -->
  </body>
</html>
