<html>
  <head>
    <title>Complaint</title>
  </head>
  <body>

    <h2 class="">Is your complaint about a GP or nurse putting patients at risk?</h2>

    <details class="" role="group">
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
        <span class="details__summary">Why are we asking this question?</span>
      </summary>
      <div id="details-content-0" aria-hidden="true">
        <p>If someone is a danger to patients, your complaint should go to the organisation that registers them.</p>
      </div>
    </details>

    <!-- Start of radio buttons -->
    <form method="get" class="form" action="">
      <fieldset>

        <div class="multiple-choice__container">
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="no">
            No
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="gp">
            GP
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="nurse">
            Nurse
          </label>

        </div>

      </fieldset>
      <input type=submit class="button" value=Next>
    </form>
    <!-- End of radio buttons -->
  </body>
</html>
