<html>

<head>
  <title>Complaint</title>
</head>

<body>
  <h2>Contact the Nursing and Midwifery Council</h2>

  <p>You can let the Nursing and Midwifery Council (NMC) know that you think a nurse might be putting patients at risk. If it decides that a nurse is a danger, it can take action.</p>

  <p>NMC doesn’t handle general complaints. </p>

  <p><a href="#">Tell GMC about your concerns</a></p>

  <hr /> {{> complaint_content/complaint_cqc}}

</body>

</html>
