<html>

<head>
  <title>Complaint</title>
</head>

<body>
  <h2>Ask for a judicial review</h2>

  <p>You can apply for for a judicial review if you’re not happy with how the General Medical Council (GMC) has responded to a complaint.</p>

  <p>In a judicial review, a judge will review whether GMC’s decision was lawful.</p>

  <p><a href="https://www.gov.uk/guidance/administrative-court-bring-a-case-to-the-court">Apply for a judicial review</a></p>
</body>

</html>
