<html>

<head>
  <title>Complaint</title>
</head>

<body>
  <h2>Apply for a judicial review</h2>

  <p>You can apply for for a judicial review if you’re not happy with how the Parliamentary and Health Services Ombudsman (PHSO) has responded to a complaint.</p>

  <p>In a judicial review, a judge will review whether PHSO’s decision was lawful. </p>

  <p><a href="https://www.gov.uk/guidance/administrative-court-bring-a-case-to-the-court">Apply for a judicial review</a></p>

</body>

</html>
