<html>

<head>
  <title>Complaint</title>
</head>

<body>
  <h2>Contact the General Medical Council</h2>

  <p>You can let the General Medical Council (GMC) know that you think a GP might be putting patients at risk. If it decides that a GP is a danger, it can take action.</p>

  <p>GMC doesn’t handle general complaints. </p>

  <p><a href="#">Tell GMC about your concerns</a></p>

  <hr />

  {{> complaint_content/complaint_cqc}}

</body>

</html>
