<html>

<head>
  <title>Complaint</title>
</head>

<body>
  <h2>Apply for a judicial review</h2>

  <p>If you’re not happy with how the Nursing and Midwifery Council has responded to a complaint, you can apply for a judicial review. </p>

  <p>A judicial review is when you ask a judge to decide whether NMC’s decision was lawful. </p>

  <p><a href="https://www.gov.uk/guidance/administrative-court-bring-a-case-to-the-court">Apply for a judicial review</a></p>

</body>

</html>
