<html>
  <head>
    <title>Complaint</title>
  </head>
  <body>
    <h2 class="">You need to wait for a response to your complaint </h2>

    <p>If you’re not happy with that response, you can use this service to find out what to do next. </p>

    <p>In the meantime, you can let the Care Quality Commission (CQC) now that you have made a complaint. </p>

    <p>Even though CQC doesn’t handle complaints, it does check the quality of GP services. It will refer to your complaint when it next inspects your GP surgery.</p>

    <p><a href="https://www.cqc.org.uk/share-your-experience-finder">Let CQC know you’ve made a complaint</a></p>

  </body>
</html>
