<html>
  <head>
    <title>Complaint</title>
  </head>
  <body>
    <!-- Start of radio buttons -->
    <form method="get" class="form" action="">
      <fieldset>
        <legend>
          <h2 class="">Have you received a response to your complaint? </h2>
        </legend>

        <div class="multiple-choice__container">
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="yes">
            Yes
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="no">
            No
          </label>

        </div>

      </fieldset>
      <input type=submit class="button" value=Next>
    </form>
    <!-- End of radio buttons -->
  </body>
</html>
