<html>
  <head>
    <title>Complaint</title>
  </head>
  <body>

    <h2 class="">Who else have you already contacted about this complaint?</h2>

    <details class="" role="group">
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
        <span class="details__summary">Why are we asking this question?</span>
      </summary>
      <div id="details-content-0" aria-hidden="true">
        <p>All these organisations handle complaints. But we don’t want you to talk to somebody you’ve already spoken to.</p>
      </div>
    </details>

    <!-- Start of radio buttons -->
    <form method="get" class="form" action="">
      <fieldset>
        <div class="multiple-choice__container">
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="no">
            Nobody - this is the first time I’ve complained about this
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="gp">
            My GP surgery
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="nhs-england">
            NHS  England
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="phso">
            Health services ombudsman
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="gmc">
            General Medical Council
          </label>
          <label class="multiple-choice multiple-choice--radio">
            <input class="multiple-choice__input" type="radio" name="action" value="nmc">
            Nursing and Midwifery Council
          </label>
        </div>

      </fieldset>
      <input type=submit class="button" value=Next>
    </form>
    <!-- End of radio buttons -->
  </body>
</html>
