<html>

<head>
  <title>Complaint</title>
</head>

<body>
  <h2>Contact the health services ombudsman</h2>

  <p>You can contact the Parliamentary and Health Services Ombudsman (PHSO), if:</p>

  <ul>
    <li>you’ve complained to your GP surgery or NHS England</li>
    <li>you’re not happy with the response</li>
  </ul>

  <p>PHSO can make a final decision about your complaint. </p>

  <p><a href="https://www.ombudsman.org.uk/making-complaint">Ask PHSO to consider your complaint</a></p>

</body>

</html>
