<html>

<head>
  <title>Complaint</title>
</head>

<body>
  <h2> Contact your GP or NHS England</h2>

  <h3>When to contact your GP</h3>

  <p>It’s often best to talk to your surgery when something has gone wrong or you aren’t happy. Sometimes they will be able to resolve problems informally.</p>

  <p>If you want to make a formal complaint, you can speak or write to them, but they should write to you with their response to your complaint. Ask to see your surgery’s complaints procedure. It will tell you how they’ll handle your complaint, including how
  long you’ll have to wait for a response.</p>

  <hr />

  <h3>When to contact NHS England</h3>

  <p>If you don’t feel comfortable complaining to your GP, you can contact NHS England. </p>

  <p>NHS England will handle the complaint for you. </p>

  <p>Email <a href="mailto:someone@example.com">england.contactus@nhs.net</a> or call 0300 311 22 33.</p>

  <hr />

  {{> complaint_content/complaint_cqc}}
</body>

</html>
