<html>
  <head>
    <title>Complaint</title>
  </head>
  <body>
    <!-- Start of radio buttons -->
    <form method="get" class="form" action="">
      <fieldset>
        <legend>
          <h2 class="">Who did you complain to?</h2>
        </legend>

        <!-- Gp Surgery -->
        <div class="multiple-choice">
        <label>
          <input id="radio-1" type="radio" name="action" value="gp-surgery" checked>
          My GP Surgery
        </label>
        </div>
        <!-- -->

        <!-- NHS England -->
        <div class="multiple-choice">
        <label>
          <input id="radio-2" type="radio" name="action" value="nhs-england">
          NHS England
        </label>
        </div>
        <!-- -->

        <!-- Parliamentary health ombudsman -->
        <div class="multiple-choice">
        <label>
          <input id="radio-3" type="radio" name="action" value="phso">
          Parliamentary health ombudsman
        </label>
        </div>
        <!-- -->

        <!-- General medical council -->
        <div class="multiple-choice">
        <label>
          <input id="radio-4" type="radio" name="action" value="gmc">
          General medical council
        </label>
        </div>
        <!-- -->

        <!-- Nurse and midwifery council -->
        <div class="multiple-choice">
        <label>
          <input id="radio-5" type="radio" name="action" value="nmc">
          Nurse and midwifery council
        </label>
        </div>
        <!-- -->

      </fieldset>
      <input type=submit class="button" value=Next>
    </form>
    <!-- End of radio buttons -->
  </body>
</html>
