<html>
  <head>
    <title>CQC</title>
  </head>
  <body>
    <h2>Leave feedback with the Care Quality Commission</h2>
    <p>The Care Quality Commission (CQC) checks the quality of services that GPs provide.</p>
    <p>Its inspectors will use your feedback to work out what your surgery does well and what it needs to improve.</p>
    <p><a href="http://www.cqc.org.uk/share-your-experience-finder">Leave feedback with CQC</a>.</p>
  </body>
</html>
