<!DOCTYPE html>
<html>

  <head>
    <title>GP Feedback Prototype</title>
  </head>

  <body>

    <h2>What do you want the outcome to be?</h2>

    <details class="" role="group">
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
        <span class="details__summary">Why are we asking this question?</span>
      </summary>
      <div id="details-content-0" aria-hidden="true">
        <p>Where you go to leave feedback depends on what you want to achieve.</p>
      </div>
    </details>

    <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
    <p><a href="/feedback_1_7"><input type=submit class="button" value=Next></a></p>
  </body>

</html>
