<html>
  <head>
    <title>Staff</title>
  </head>
  <body>
    <h2>Contact your surgery</h2>
    <p>To make sure staff at your surgery get your feedback, contact them directly.</p>
    <p><a href="https://www.nhs.uk/Service-Search/GP/LocationSearch/4">Find your surgery’s contact details</a></p>
  </body>
</html>
