<!DOCTYPE html>
<html>
<head>
<title>GP Feedback Prototype</title>
</head>
<body>

  <!-- Start of radio buttons -->
  <form method="get" class="form" action="">
    <fieldset>
      <legend>
        <h2 class="">Who do you want to see your feedback? </h2>
      </legend>

      <div class="multiple-choice__container">
        <label class="multiple-choice multiple-choice--checkbox">
          <input class="multiple-choice__input" type="checkbox" name="action" value="staff">
          Staff at my surgery
        </label>
        <label class="multiple-choice multiple-choice--checkbox">
          <input class="multiple-choice__input" type="checkbox" name="action" value="public">
          Other members of the public
        </label>
        <label class="multiple-choice multiple-choice--checkbox">
          <input class="multiple-choice__input" type="checkbox" name="action" value="investigator">
          Investigators who check standards at the surgery
        </label>
      </div>
      
    </fieldset>
    <input type=submit class="button" value=Next>
  </form>
  <!-- End of radio buttons -->

</body>
</html>
