<html>
  <head>
    <title>Feedback</title>
  </head>
  <body>
    <h2>You want your surgery and members of the public to see your feedback</h2>

    <h4>What to do</h4>

    <ol>
      <li>Contact your surgery.</li>
      <li>Leave a review on NHS Choices.</li>
    </ol>

    <hr class="spacer" />

    {{> feedback_content/contact_the_surgery
        number="1."
    }}

    <hr />

    {{> feedback_content/leave_review_nhs_choices
        number="2."
    }}

  </body>
</html>
