<html>
  <head>
    <title>Feedback</title>
  </head>
  <body>
    <h2>You want the public and NHS inspectors to see your feedback</h2>

    <ol>
      <li>Leave a review on NHS Choices</li>
      <li>Leave feedback with the Care Quality Commission (CQC)</li>
    </ol>

    <hr class="spacer" />

    {{> feedback_content/leave_review_nhs_choices
        number="1."
    }}

    <hr />

    {{> feedback_content/leave_feedback_cqc
        number="2."
    }}
  </body>
</html>
