<!DOCTYPE html>
<html>
<head>
<title>GP Feedback Prototype</title>
</head>
<body>

  <h2 class="">Give feedback or complain about your GP surgery</h2>
  <p>You can give feedback or complain about:</p>
  <ul>
    <li>services at your surgery</li>
    <li>a doctor or other member of staff</li>
    <li>something that’s happened to you</li>
  </ul>

  <a href="/start">
    <button style="margin-top:16px;" class="button">Start</button>
  </a>

  <hr class="spacer" />

  <div class="callout callout--warning">
    <h2>If you need help now</h2>
    <p>This service won’t respond straight away. Call 999 if you need urgent help, for example if you are feeling suicidal. </p>
  </div>

</body>
</html>
