<!DOCTYPE html>
<html>
<head>
<title>GP Feedback Prototype</title>
</head>
<body>

  <h2 class="">Leave feedback or complain about your GP</h2>
  <p>Information about this service</p>

  <a href="/start">
    <button style="margin-top:16px;" class="button">Start</button>
  </a>

  <hr class="spacer" />

  <div class="callout callout--warning">
    <h2>Do you need help?</h2>
    <p>
      Text here. <a href="#">Link here.</a>
    </p>
  </div>


</body>
</html>
