<h2>Your ratings</h2>
<p class="heading__meta">This step is optional</p>
<hr />
<h3>Telephone access</h3>
<p class="p--no-margin-top">Are you able to get through to the surgery by telephone?</p>

<span tabindex="1" class="fa fa-star"></span>
<span tabindex="2" class="fa fa-star"></span>
<span tabindex="3" class="fa fa-star"></span>
<span tabindex="4" class="fa fa-star"></span>
<span tabindex="5" class="fa fa-star"></span>

<div class="button__spacing">
  <p style="display:inline-block;"><a href="/nhs-choices-4_2"><button class="button" >Next</button></a></p>
  <p style="display:inline-block; padding-left:24px;"><a href="/nhs-choices-8"><button class="button button--secondary">Skip to review page</button></a></p>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
