<h2>Your ratings</h2>
<hr />
<h3>Appointments</h3>
<p class="p--no-margin-top">Are you able to get an appointment when you want one?</p>

<span tabindex="1" class="fa fa-star"></span>
<span tabindex="2" class="fa fa-star"></span>
<span tabindex="3" class="fa fa-star"></span>
<span tabindex="4" class="fa fa-star"></span>
<span tabindex="5" class="fa fa-star"></span>

<div class="button__spacing">
  <p><a href="/nhs-choices-5_2"><button class="button">Next</button></a></p>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
