<div class="grid-row">
  <div class="column--two-thirds">
    <span style="float:left;">
    <h2>Write your review (optional)</h2>
  </span>
  </div>
  <div class="column--one-third">
    <span style="">
    <a href="/nhs-choices-9"><button class="button--secondary">Skip to next page</button></a>
  </span>
  </div>
</div>

<hr style="display:inline-block;" />

<p>Things you need to know before writing your review.</p>
<div class="panel">
  <div class="panel__content panel__content--half">
    <h3>Do</h3>
    <ul class="list--check">
      <li>This</li>
      <li>This</li>
      <li>That</li>
    </ul>
  </div>
  <div class="panel__content panel__content--half">
    <h3>Don’t</h3>
    <ul class="list--cross">
      <li>This</li>
      <li>This</li>
      <li>That</li>
    </ul>
  </div>
</div>


<div class="form-line">
  <label for="input-with-support" class="form-label">
    The title of your review
    <span class="form-label__hint" id="hintId"><p>This should contain top level guidance</p></span>
  </label>
  <input type="text" name="input-with-support" id="input-with-support" class="form-textbox" aria-describedby="hintId">
</div>

<div class="form-line">
  <label for="input-with-support" class="form-label">
    The main text of your review
    <span class="form-label__hint" id="hintId"><p>This should contain top level guidance</p></span>
  </label>
  <textarea></textarea>
</div>

<p><a href="/nhs-choices-9"><button class="button">Next</button></a></p>
