<h2>Anonmyity</h2>
<hr />

<h3>Would you like to remain anonymous?</h3>
<p>Information here about what it actualy means</p>

<form method="get" class="form" action="">
  <fieldset>
    <div class="multiple-choice__container">
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value=" ">
        Yes
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value=" ">
        No
      </label>
    </div>

  </fieldset>
</form>

<p><a href="/nhs-choices-12"><button class="button">Submit review</button></a></p>
