<h2>Recommend to friends and family?</h2>
<p class="heading__meta">This step is required</p>
<hr />
<p>How likely are you to recommend this GP surgery to friends and family if they needed similar care or treatment?</p>

<span tabindex="1" class="fa fa-star"></span>
<span tabindex="2" class="fa fa-star"></span>
<span tabindex="3" class="fa fa-star"></span>
<span tabindex="4" class="fa fa-star"></span>
<span tabindex="5" class="fa fa-star"></span>

<div class="button__spacing">
  <p><a href="/nhs-choices-3_2"><button class="button" >Next</button></a></p>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
