<html>

<head>
  <title>NHS Choices</title>
</head>

<body>
  <h2>You can leave a review about your GP practice on NHS Choices</h2>
  <section class="section">

    <p>This is why you should use it. Include information here about why they should use NHS Choices.</p>
    <p>Include more relevant information here about what happens next.</p>
    <h4>Use this service to:</h4>
    <ul style="margin-top:12px;">
      <li>Do this</li>
      <li>Do that</li>
    </ul>

    <p><a href="nhs-choices-start-from-tool"><button class="button">Start now</button></a></p>
    <p class="p--small" style="font-size:14px; margin-top:8px;">on NHS Choices service</p>
  </section>

</body>

</html>
