<h2>When did this happen?</h2>
<hr />
<div class="form-line">
  <label for="input-with-support" class="form-label">
    When did you visit your GP surgery?
  </label>
  <input type="date" name="input-with-support" id="input-with-support" class="form-textbox" aria-describedby="hintId">
</div>

<p><a href="/nhs-choices-10"><button class="button" >Next</button></a></p>
