<h2>Your ratings</h2>
<hr />
<h4>Telephone access</h4>
<p class="p--no-margin-top">Are you able to get through to the surgery by telephone?</p>

<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>

<div class="button__spacing">
  <p><a href="/nhs-choices-4"><button class="button">Next</button></a></p>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
