    <h2>Leave a review about your GP practice</h2>


  <div class="form-item-wrapper">

    <h4>Find your GP surgery</h4>
    <p style="margin-top:12px;">You need to do this so we can send your review to the right place.</p>

    <div class="form-group">

      <fieldset>
        <div class="form-group form-group__search">
          <label class="form-label form-label--bold" for="search">Surgery or GP name</label>
          <input type="text" class="form-control" name="search" id="search" value="">
        </div>
        <div class="form-group form-group__postcode">
          <label class="form-label form-label--bold" for="postcode">Surgery postcode or your home postcode</label>
          <input type="text" class="form-control" name="postcode" id="postcode" value="">
        </div>
      </fieldset>
    </div>

    <div class="form-item-wrapper">
      <div class="form-group form-group--submit">
        <a href="/nhs-choices-1"><input type="submit" class="button" value="Search"></a>
      </div>
    </div>
  </div>
