<div class="submission__container">
  <h1>Thank you</h1>
  <p>Your feedback has been sent</p>
</div>

<h3>What happens next</h3>
<p>This is what happens next</p>

<!-- <p><a href="/nhs-choices-12"><button class="button button--secondary">Exit the service</button></a></p>-->
