<h2>Your review</h2>

<div class="form-line">
  <label for="input-with-support" class="form-label">
    The title of your review
  </label>
  <input type="text" name="input-with-support" id="input-with-support" class="form-textbox" aria-describedby="hintId">
</div>

<div class="form-line">
  <label for="input-with-support" class="form-label">
    The main text of your review
    <!-- <span class="form-label__hint" id="hintId">Supporting information</span> -->
  </label>
  <textarea></textarea>
</div>

<p><a href="/nhs-choices-9"><button class="button">Next</button></a></p>
