<h2>Your review</h2>
<hr />

<details class="" role="group">
  <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
    <span class="details__summary">Moderation guidance</span>
  </summary>
  <div id="details-content-0" aria-hidden="true">
    <div class="article">
						    <p>NHS Choices has a number of areas where you can contribute to the site. You can comment&nbsp;on and rate almost any NHS service, including hospitals, GP practices and dentists. We welcome feedback, whether you, a friend or a family member were a patient or&nbsp;just visiting.&nbsp;</p>
<p>Contributions to this website will be moderated, that is, checked to make sure they don’t break our rules. You will need to keep your contributions constructive, relevant and civil. The&nbsp;rules and guidelines below&nbsp;are to protect both you and the NHS, and our moderators will remove contributions that break the rules. </p>
<p>Should you have further questions and would like to contact us, please get in touch&nbsp; with our Service Desk team either via our <a href="/aboutNHSChoices/Pages/ContactUs.aspx">feedback form</a> or by emailing&nbsp;<a href="mailto:nhschoicesservicedesk@nhs.net">nhschoicesservicedesk@nhs.net</a>.</p>
<p>If you wish to make a complaint about our content or any operational issues, please email <a href="mailto:complain@nhschoices.nhs.uk">complain@nhschoices.nhs.uk</a>. Additionally you can take a look at the <a href="/aboutNHSChoices/aboutnhschoices/Aboutus/Documents/NHS-Choices-Complaint-Process-v7.pdf" title="Opens in a new window" target="_blank">NHS Choices complaint process (PDF, 192kb)</a> and for more detailed information see the <a href="/aboutNHSChoices/aboutnhschoices/Aboutus/Documents/nhs-choices-complaints-policyv3-VV.pdf" title="Opens in a new window" target="_blank">NHS Choices complaints policy (PDF, 1.04Mb)</a>.</p>
<p>&nbsp;</p>

						</div>
  </div>
</details>


<div class="form-line">
  <label for="input-with-support" class="form-label">
    The title of your review
    <span class="form-label__hint" id="hintId"><p>This should contain top level guidance</p></span>
  </label>
  <input type="text" name="input-with-support" id="input-with-support" class="form-textbox" aria-describedby="hintId">
</div>

<div class="form-line">
  <label for="input-with-support" class="form-label">
    The main text of your review
    <span class="form-label__hint" id="hintId"><p>This should contain top level guidance</p></span>
  </label>
  <textarea></textarea>
</div>

<p><a href="/nhs-choices-9"><button class="button">Next</button></a></p>
