<h2>Your ratings</h2>
<p class="heading__meta">This step is optional</p>
<hr />
<h3>Providing accurate information</h3>
<p class="p--no-margin-top">This GP practice provides accurate and up to date information on services and opening hours</p>

<span tabindex="1" class="fa fa-star"></span>
<span tabindex="2" class="fa fa-star"></span>
<span tabindex="3" class="fa fa-star"></span>
<span tabindex="4" class="fa fa-star"></span>
<span tabindex="5" class="fa fa-star"></span>

<div class="button__spacing">
  <a href="/nhs-choices-8"><button class="button" >Next</button></a>
  <a href="/nhs-choices-8"><button class="button button--secondary">Skip to review page</button></a>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
