<h2>Recommend to friends and family?</h2>
<p class="heading__meta">This step is required</p>
<hr />
<h4>How likely are you to recommend this GP surgery to friends and family if they needed similar care or treatment?</h4>
<!-- Start of radio buttons -->
<form method="get" class="form" action="">
  <fieldset>
    <div class="multiple-choice__container">
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value=" ">
        Extremely likely
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value=" ">
        likely
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value=" ">
        Neither likely or unlikely
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value=" ">
        Extremely unlikely
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value=" ">
        Don't know
      </label>
    </div>

  </fieldset>
</form>
<!-- End of radio buttons -->

<p><a href="/nhs-choices-3_1"><button id="button" class="button" >Next</button></a></p>
