<h2>Your review</h2>
<p class="heading__meta">This step is optional</p>
<hr />

<div class="section">
  <div class="form-line">
  <label for="input-with-support" class="form-label">
    <h3>The title of your review</h3>
    <span class="form-label__hint" id="hintId"><p>Max 60 characters</p></span>
  </label>
  <input type="text" placeholder="Please write a short headline summary" name="input-with-support" id="input-with-support" class="form-textbox" aria-describedby="hintId">
  </div>
</div>

<div class="section">
  <div class="form-line">
    <label for="input-with-support" class="form-label">
      <h3>The main text of your review</h3>
      <span class="form-label__hint" id="hintId"><p>Max 3000 characters</p></span>
    </label>
    <textarea rows="17" class="form-textbox" placeholder="Give an account of the experience you are commenting on, and give your opinion about it in your own words. The more detail you can give, the more useful your review will be. If you write a review, you will need to add a title (above) as well. Thank you for taking the time to review honestly and responsibly.

Comments containing the following will not be published, or will be edited:
 	* Names of individuals, mention of gender, or identifying features.
 	* Offensive, abusive, or inappropriate language or remarks.
 	* Complaints relating to clinical negligence which should first be addressed by the relevant hospital or practice
By submitting your review you confirm that the factual statements within it are true and that the opinions expressed are your own honestly held opinions, or those of the person on whose behalf you are commenting."></textarea>
  </div>
</div>

<div class="button__spacing">
  <a href="/nhs-choices-9"><button class="button" >Next</button></a>
  <a href="/nhs-choices-9"><button class="button button--secondary">Skip to next page</button></a>
</div>
