<div class="page-section">

  <div class="reading-width results">
    <h2 class="results__header">Which is your surgery?</h2>
    <p>We found these surgeries using 'birches medical centre'.</p>
    <p>If your surgery is not here, check the text you have entered is right and <a href="/nhs-choices-start">search again</a>. You can also search using a postcode.</p>
    <div class="grid-row">
      <ol class="results">
        <li class="results__item results__item--nearby" data-index="1">
          <div class="results__details results__details--nearby">
            <h3 class="results__name"><a href="/nhs-choices-2">The Birches Medical Centre</a></h3>
            <p class="results__address">Polefield Road, Manchester, Greater Manchester, M25 2GN</p></p>
          </div>
        </li>

        <li class="results__item results__item--nearby" data-index="2">
          <div class="results__details results__details--nearby">
            <h3 class="results__name"><a href="/nhs-choices-2">The Birches Medical Centre</a></h3>
            <p class="results__address">Twelve Acre Approach, Kesgrave, Ipswich, Suffolk, IP5 1JF</p></p>
          </div>
        </li>

        <li class="results__item results__item--nearby" data-index="3">
          <div class="results__details results__details--nearby">
            <h3 class="results__name"><a href="/nhs-choices-2">Birches Head Medical Centre</a></h3>
            <p class="results__address">Diana Road, Stoke On Trent, Staffordshire, ST1 6RS</p></p>
          </div>
        </li>

        <li class="results__item results__item--nearby" data-index="4">
          <div class="results__details results__details--nearby">
            <h3 class="results__name"><a href="/nhs-choices-2">The Birches Medical Practice</a></h3>
            <p class="results__address">Ironstone centre, West Street, Scunthorpe, South Humberside, DN15 6HX</p></p>
          </div>
        </li>

        <li class="results__item results__item--nearby" data-index="4">
          <div class="results__details results__details--nearby">
            <h3 class="results__name"><a href="/nhs-choices-2">The Birches Medical Practice</a></h3>
            <p class="results__address">Ashby Clinic, Collum Lane, Scunthorpe, South Humberside, DN16 2SZ</p></p>
          </div>
        </li>

      </ol>
    </div>
  </div>


</div>
