<h2>Confirm your email address and screen name</h2>
<hr />

<p>We only use your email address to communicate with you about your feedback. This includes telling you when it is published or has a reply.</p>
<div class="form-line">
  <label for="input-with-support" class="form-label">
    Your email address
  </label>
  <input type="text" name="input" id="input-with-support" class="form-textbox" aria-describedby="hintId">
</div>

<div class="form-line">
  <label for="input-with-support" class="form-label">
    Confirm your email address
  </label>
  <input type="text" name="input" id="input-with-support" class="form-textbox" aria-describedby="hintId">
</div>

<div class="form-line">
  <label for="input-with-support" class="form-label">
    Your screen name
  </label>
  <input type="text" name="input" id="input-with-support" class="form-textbox" aria-describedby="hintId">
</div>

<p><a href="/nhs-choices-11"><button class="button" >Next</button></a></p>
