<h2>Your ratings</h2>
<hr />
<h3>Providing accurate information</h3>
<p class="p--no-margin-top">This GP practice provides accurate and up to date information on services and opening hours</p>
<!-- Start of radio buttons -->
<form method="get" class="form" action="">
  <fieldset>
    <div class="multiple-choice__container">
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value=" ">
        Always
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value=" ">
        Usually
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value=" ">
        Sometimes
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value=" ">
        Rarely
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value=" ">
        Never
      </label>
    </div>

  </fieldset>
</form>
<!-- End of radio buttons -->

<p><a href="/nhs-choices-8"><button class="button" >Next</button></a></p>
