<div class="submission__container">
  <h2>Almost done - please check your email!</h2>
  <p>We've sent an email to example@me.com. Before we submit your review we need to be sure we have your contact details correct in case we need to get in touch with you about it. Please follow the link in that email to verify your email address.</p>
  <p>Your feedback is incredibly useful to the NHS and other patients. We hope you will review other services in future.</p>
</div>

<!-- <h3>What happens next</h3>
<p>This is what happens next</p> -->

<!-- <p><a href="/nhs-choices-12"><button class="button button--secondary">Exit the service</button></a></p>-->
