<!DOCTYPE html>
<html>
<head>
<title>GP Feedback Prototype</title>
</head>
<body>
  <form method="get" class="form" action="">
    <input type="radio" name="action" value="feedback" checked>Leave Feedback<br>
    <input type="radio" name="action" value="complaint" checked>Make a Complaint<br>
    <input type=submit class="button" value=Submit>
  </form> 
</body>
</html>

