<!DOCTYPE html>
<html>
<head>
<title>GP Feedback Prototype</title>
</head>
<body>
  <form method="get" class="form" action="">
    <fieldset>
      <p><input type="radio" name="action" value="feedback" checked>Leave Feedback</p>
      <p><input type="radio" name="action" value="complaint" checked>Make a Complaint</p>
    </fieldset>
    <input type=submit class="button" value=Submit>
  </form> 
</body>
</html>

