<!DOCTYPE html>
<html>
<head>
<title>GP Feedback Prototype</title>
</head>
<body>

  <!-- Start of radio buttons -->
  <form method="get" class="form" action="">
    <fieldset>

      <legend>
        <h2 class="">Do you want to give feedback or make a complaint?</h2>
      </legend>

      <div class="multiple-choice__container">
        <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input" type="radio" name="action" value="feedback">
          Give feedback
        </label>
        <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input" type="radio" name="action" value="complaint">
          Make a complaint
        </label>
      </div>

    </fieldset>

    <input type=submit class="button" value=Next>
  </form>
  <!-- End of radio buttons -->

</body>
</html>
