<!DOCTYPE html>
<html>
<head>
<title>GP Feedback Prototype</title>
</head>
<body>

  <h2 class="">Leave feedback or complain about your GP</h2>
  <p>Information about this service</p>
  <hr />

  <!-- Start of radio buttons -->
  <form method="get" class="form" action="">
    <fieldset>
      <legend>
        <h2 class="">Do you want to?</h2>
      </legend>

      <!-- Feedback -->
      <div class="multiple-choice">
      <label>
        <input id="radio-1" type="radio" name="action" value="feedback" checked>
        Leave feedback
      </label>
      </div>
      <!-- -->

      <!-- Complaint -->
      <div class="multiple-choice">
      <label>
        <input id="radio-2" type="radio" name="action" value="complaint">
        Make a complaint
      </label>
      </div>
      <!-- -->

    </fieldset>
    <input type=submit class="button" value=Next>
  </form>
  <!-- End of radio buttons -->

  <div class="callout callout--warning">
    <h2>Do you need help?</h2>
    <p>
      Text here. <a href="#">Link here</a>
    </p>
  </div>


</body>
</html>
