<!DOCTYPE html>
<html>
<head>
<title>GP Feedback Prototype</title>
</head>
<body>

  <h2 class="">Do you want to give feedback or make a complaint?</h2>

  <details class="" role="group">
    <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
      <span class="details__summary">Why are we asking this question?</span>
    </summary>
    <div id="details-content-0" aria-hidden="true">
      <p>What you do next depends on whether you want to leave feedback or a complaint.</p>
    </div>
  </details>

  <!-- Start of radio buttons -->
  <form method="get" class="form" action="">
    <fieldset>
      <div class="multiple-choice__container">
        <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input" type="radio" name="action" value="feedback">
          Give feedback
        </label>
        <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input" type="radio" name="action" value="complaint">
          Make a complaint
        </label>
      </div>
    </fieldset>

    <input type=submit class="button" value=Next>
  </form>
  <!-- End of radio buttons -->

</body>
</html>
